RewriteEngine On
RewriteBase /

# Данные для подключения к тестовой бд
SetEnv DB_SERVERNAME "localhost"
SetEnv DB_USERNAME2 "root"
SetEnv DB_PASSWORD2 ""
SetEnv DB_NAME2 "hozkom2"

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]

ErrorDocument 404 /index.html

Options -Indexes

RewriteRule ^test_build/exceljs-master - [F,L]
RewriteRule ^test_build/node_modules - [F,L]

Require all granted

